<div class="title small-12 small-centered-columns text-center">
  <h1>All of the Art</h1>
</div>

    <table class="center">
       <thead>
         <tr>
           <th>Art Photo</th>
           <th>Art URL</th>
           <th>Art Title</th>
           <th>Series Number</th>
           <th>Series Name</th>
           <th>Original Date</th>
           <th>Art Description</th>
         </tr>
       </thead>
       <tbody>
         <%@all_the_artwork.each do |art|%>
           <tr>
             <td><img src="<%= art.photo_url %>" alt="Resized JPEG graphic" title="Click to view" border="2" width="158" height="150" hspace="10"></td>
             <td><a href="<%= art.photo_url%>"><%=art.photo_url%></a></td>
             <td><%=art.title %></td>
             <td><%=art.series_num%></td>
             <td><%=art.series_name%></td>
             <td><%=art.date%></td>
             <td><%=art.description%></td>
           </tr>
         <% end %>
       </tbody>
     </table>
